<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body
	style="background-color: gray; display: flex; justify-content: center; align-items: center; flex-direction: column;">

	<div
		style="width: 90vw; display: flex; justify-content: space-around; margin: 0 auto; margin-top: 15px; color: white;">
		<h3>
			Bienvenido: <span th:text="${usuario}"></span>
		</h3>
		<a class="btn btn-secondary" th:href="@{/logout}"
			role="button">Cerrar sesión</a>
	</div>

	<div
		style="width: 30vw; height: 50vh; background-color: white; margin-top: 5%; padding: 10px">
		<h2>Editar Usuario</h2>
		<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
			<span th:text="${errorMessage}"></span>
		</div>
		<form
			th:action="@{'/producto/editar_producto/' + ${producto.productoId != null ? producto.productoId : id}}"
			th:object="${producto}" method="post">
			<div class="form-group">
				<label for="nombreProducto">Nombre Producto:</label> <input
					type="text" class="form-control" id="nombreProducto"
					th:field="*{nombreProducto}">
			</div>
			<div class="form-group">
				<label for="precio">Precio:</label> <input type="number"
					class="form-control" id="precio" th:field="*{precio}">
			</div>
			<div class="form-group">
				<label for="stockProducto">Stock Producto:</label> <input
					type="number" class="form-control" id="stockProducto"
					th:field="*{stockProducto}">
			</div>

			<div class="form-group mb-4">
				<label for="categoriaEntity">Categoría</label> <select
					th:field="*{categoriaEntity}" class="form-control"
					id="categoriaEntity" required>
					<option th:each="categoria : ${categorias}"
						th:value="${categoria.categoriaId}"
						th:text="${categoria.nombreCategoria}"></option>
				</select>
			</div>

			<a th:href="@{/producto/}" class="btn btn-secondary">Cancelar</a>
			<button type="submit" class="btn btn-secondary">Guardar
				cambios</button>
		</form>
	</div>
</body>
</html>