<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Producto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
   
</head>
<body>
    <div class="container mt-5">
		<h2>Lista de Productos</h2>
		<p>Bienvenido ${usuario}</p>
		<button class="btn btn-outline-warning ml-2" th:href="@{/logout}">Cerrar sesión</button>
		    <button class="button">Generar PDF</button>
		        <a th:href="@{/producto/registrar_producto}" class="btn btn-primary">Registrar</a>
		        <table class="table table-bordered table-striped">
		            <thead>
		                <tr>
		                    <th>ID Producto</th>
		                    <th>Nombre Producto</th>
		                    <th>Precio</th>
							<th>Stock</th>
							<th>Categoría</th>
							<th>Acción</th>
		                </tr>
						
						<td>
						  <button class="button">Ver</button>
						  <button class="button">Editar</button>
					 </td>
		            </thead>
		            <tbody>
		                <tr th:each="producto : ${listaprod}">
		                    <td th:text="${producto.productoId}"></td>
		                    <td th:text="${producto.nombreProducto}"></td>
		                    <td th:text="${producto.precio}"></td>
		                    <td th:text="${producto.cantidad}"></td>
		                    <td th:text="${producto.fechaVencimiento}"></td>
		                    <td th:text="${producto.categoriaEntity.nombreCategoria}"></td>
		                </tr>
		            </tbody>
		        </table>
        <button class="btn btn-success">Agregar Producto</button>
    </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
</body>
</html>